<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>My Profile</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="Bootstrap News Template - Free HTML Templates" name="keywords" />
  <meta content="Bootstrap News Template - Free HTML Templates" name="description" />

  <!-- Favicon -->
  <link href="./assets/favicon.svg" rel="icon" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet" />

  <!-- CSS Libraries -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
  <script src="https://cdn.omise.co/omise.js"></script>
  <!-- Template Stylesheet -->
  <link href="css/main.css" rel="stylesheet" />
  <link href="css/profile.css" rel="stylesheet" />
  <!-- Additional CSS Files -->


</head>

<body>
  <div id="app">
    <div id="loading-layout"></div>

    <div id="navbar-layout"></div>

    <!-- Get Link Modal -->
    <div class="modal fade" id="linkModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{lang.ANYONE_WITH_LINK}} {{link.title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div v-if="!link.isLoading">
              <i class="fas fa-link"></i>
              <span class="ml-1">{{lang.YOUR_LONK_FOR}} '{{link.title}}' {{lang.IS}} </span>
              <p>
                <input id="link-url" :value="link.url" style="width: 100%;">
              </p>
              <p v-if="link.isCopied">
                {{lang.LINK_IS_COPPIED}}
              </p>
              <div>
                <img v-on:click="copyLink" class="btn-social mr-1" src="assets/icons/copy.png">
                <img v-on:click="shareToFB" class="btn-social mr-1" src="assets/icons/facebook.png">
                <img v-on:click="shareToTW" class="btn-social mr-1" src="assets/icons/twitter.png">
                <img v-on:click="shareToLK" class="btn-social" src="assets/icons/linkedin.png">
              </div>
            </div>
            <div v-if="link.isLoading">
              <div class="spinner-grow text-accent" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden"></span>
              </div>
              <span class="text-primary">{{lang.GETTING_LINK}}</span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{lang.CLOSE}}</button>
            <button v-if="!link.isLoading" v-on:click="copyLink" type="button" class="btn btn-primary">
              <i class="far fa-clipboard"></i>
              <span class="ml-1">{{lang.COPPY_LINK}}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Get Link Modal-->

    <!-- expriration warning Modal-->
    <div id="myModal-ex" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <h3>Warning!!</h3>
        <div style="width: 100%; padding: 10px;">
          <h5>Your subscription is expried please re-subscription or disable some of your contents.</h5>
        </div>
        <button @click="disableContents(contents)" class="btn btn-primary btn-lg btn-block" type="button"
          id="disabledContentModal">Next</button>
        <a :href="PAGES.CART" class="btn btn-primary btn-lg btn-block" type="button"
          id="disabledContentModal">Re-subscription</a>
      </div>


    </div>
    <!-- expriration warning Modal-->

    <!-- Info Modal -->
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-info" id="exampleModalLabel">
              <i class="fas fa-info-circle"></i>
              <span class="ml-1">{{info.title}}' {{lang.INFO}}</span>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row mb-4">
                <div class="col-3 text-right text-secondary">
                  {{lang.TITLE}}
                </div>
                <div class="col-9 text-left">
                  {{info.title}}
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-3 text-right text-secondary">
                  {{lang.AUTHOR}}
                </div>
                <div class="col-9 text-left">
                  {{info.author.displayName}}
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-3 text-right text-secondary">
                  {{lang.LOCATION}}
                </div>
                <div class="col-9 text-left">
                  <a target="_blank"
                    :href="`https://www.google.com/maps/search/?api=1&query=${place.lat},${place.lng}`">
                    @{{place.lat}},{{place.lng}}
                  </a>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-3 text-right text-secondary">
                  {{lang.CATEGORY}}
                </div>
                <div class="col-9 text-left">
                  {{info.category}}
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-3 text-right text-secondary">
                  {{lang.UPDATED}}
                </div>
                <div class="col-9 text-left">
                  {{info.updated}}
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-3 text-right text-secondary">
                  {{lang.PRIVACY}}
                </div>
                <div class="col-9 text-left">
                  <span>{{displayPrivacy(info)}}</span>
                  <span v-if="info.published">( <i class="far fa-eye"></i> )</span>
                  <span v-if="!info.published && !info.private">( <i class="fas fa-unlock-alt"></i> )</span>
                  <span v-if="info.private">( <i class="fas fa-lock"></i> )</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{lang.CLOSE}}</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Info Modal -->

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger" id="exampleModalLabel">
              <i class="fas fa-exclamation-triangle"></i>
              <span class="ml-1">{{lang.WARNING}}</span>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <span v-if="!deleteC.isLoading">{{lang.SURE_TO_DELETE}}</span>
            <div v-if="deleteC.isLoading">
              <div class="spinner-grow text-danger" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden"></span>
              </div>
              <span class="text-primary">{{lang.DELETING}}</span>
            </div>
            <div v-if="deleteC.isError" class="alert alert-danger alert-dismissible fade show" v-if="isError"
              role="alert">
              <i class="far fa-times-circle"></i>
              <span class="ml-2">{{error}}</span>
            </div>
          </div>
          <div class="modal-footer">
            <button v-if="!deleteC.isLoading" v-on:click="deleteNow" type="button"
              class="btn btn-danger">{{lang.DONE_DELETED}}</button>
            <button v-if="!deleteC.isLoading" type="button" class="btn btn-secondary"
              data-dismiss="modal">{{lang.CANCEL}}</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Delete Modal -->

    <!-- Edit Profile Modal -->
    <div v-if="user" class="modal fade" id="editProfileModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div v-if="!updateU.isLoading && !updateU.isError" class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{lang.EDIT_PROFILE}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <img id="imgProfile" :src="user.photoURL" onerror="javascript:this.src='assets/images/user.svg'"
              class="profile-pic mb-3">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">{{lang.PROFILE_PICTURE}}</span>
              </div>
              <div class="custom-file">
                <input v-on:change="previewImage" accept="image/*" type="file" class="custom-file-input"
                  id="inputGroupFile01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
              </div>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">{{lang.USERNAME}}</span>
              </div>
              <input v-model="user.displayName" type="text" class="form-control" placeholder="{{lang.USERNAME}}"
                aria-label="{{lang.USERNAME}}" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{lang.CLOSE}}</button>
            <button v-on:click="saveProfile" type="button" class="btn btn-primary">{{lang.SAVE_CHANGES}}</button>
          </div>
        </div>
        <div v-if="updateU.isLoading" class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{lang.EDIT_PROFILE}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
              <span class="visually-hidden"></span>
            </div>
            <span class="text-primary">{{lang.LOADING}}...</span>
          </div>
        </div>
        <div v-if="updateU.isError" class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{lang.EDIT_PROFILE}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <div class="alert alert-danger alert-dismissible fade show" v-if="isError" role="alert">
              <i class="far fa-times-circle"></i>
              <span class="ml-2">{{error}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Address Modal -->
    <div v-if="userinfo" class="modal fade" id="addressModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{lang.EDIT_ADDRESS}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">{{lang.FIRST_NAME}}</span>
              </div>
              <input v-model="userinfo.fname" type="text" class="form-control" placeholder="{{lang.FIRST_NAME}}"
                aria-label="{{lang.FIRST_NAME}}" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">{{lang.LAST_NAME}}</span>
              </div>
              <input v-model="userinfo.lname" type="text" class="form-control" placeholder="{{lang.LAST_NAME}}"
                aria-label="{{lang.LAST_NAME}}" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">{{lang.TEL_MOBILE_PHONE}}</span>
              </div>
              <input v-model="userinfo.phone" type="text" class="form-control" placeholder="{{lang.TEL_MOBILE_PHONE}}"
                aria-label="{{lang.TEL_MOBILE_PHONE}}" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">{{lang.ADDRESS}}</span>
              </div>
              <input v-model="userinfo.address" type="text" class="form-control" placeholder="{{lang.ADDRESS}}"
                aria-label="{{lang.ADDRESS}}" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">{{lang.ADDRESS2}}</span>
              </div>
              <input v-model="userinfo.address2" type="text" class="form-control" placeholder="{{lang.ADDRESS2}}"
                aria-label="{{lang.ADDRESS2}}" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="selectCity">{{lang.TOWN_CITY}}</label>
              </div>
              <input v-model="userinfo.town" type="text" class="form-control" placeholder="{{lang.TOWN_CITY}}"
                aria-label="{{lang.TOWN_CITY}}" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="selectState">{{lang.PROVINCE_STATE}}</label>
              </div>
              <input v-model="userinfo.province" type="text" class="form-control" placeholder="{{lang.PROVINCE_STATE}}"
                aria-label="{{lang.PROVINCE_STATE}}" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="selectCountry">{{lang.COUNTRY}}</label>
              </div>
              <select v-model="userinfo.country" class="custom-select" id="selectCountry">
                <option>Choose...</option>
                <option v-for="c in country.list" :value="c.code">{{c.name}}</option>
              </select>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">{{lang.POSTAL_CODE}}</span>
              </div>
              <input v-model="userinfo.postal_code" type="text" class="form-control" placeholder="{{lang.POSTAL_CODE}}"
                aria-label="{{lang.POSTAL_CODE}}" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{lang.CLOSE}}</button>
            <button v-on:click="changeAddress" type="button" class="btn btn-primary"
              data-dismiss="modal">{{lang.SAVE_CHANGES}}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div v-if="user" class="row px-4 bg-primary">
        <div class="col-xl-2 col-lg-3 col-md-4">
          <div class="">
            <div class="detail">
              <div class="pic">
                <img v-if="user.photoURL == null || user.photoURL == ''" src="assets/images/user.svg"
                  class="profile-r" />
                <img v-else :src="user.photoURL" class="profile-r" />
              </div>
              <div class="name mt-4">{{user.displayName}}</div>
              <div class="name mt-1 text-muted"><small>{{user.email}}</small></div>
            </div>
            <div id="list-example" class="tabs mt-4">
              <a id='edit-profile' v-on:click="editProfile" class="my-upload">{{lang.EDIT_PROFILE}}</a>
              <a class="my-upload" href="#list-item-1">{{lang.MY_UPLOADS}}</a>
              <a class="my-add" href="#list-item-2">{{lang.MY_ADDRESSES}}</a>
              <a class="my-pay" href="#list-item-3">{{lang.MY_ORDERS}}</a>
            </div>
          </div>
        </div>
        <div class="col-xl-10 col-lg-9 col-md-8">
          <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example">
            <div id="list-item-1" class="list-item col" data-bs-target=".my-upload">
              <h4>{{lang.MY_UPLOADS}}</h4>
              <div class="main-news">
                <div class="container">

                  <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 p-1">
                      <div class="card" style="align-self: center;  height: 250px;">
                        <button v-on:click="window.location.href = PAGES.UPLOAD" class="btn btn-cate"
                          style="height: 100%;"> {{lang.ADD_UPLOAD}}</button>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 p-1" v-for="content in contents.publishedC">
                      <div class="card">
                        <div class="mn-img" :id="'dropdown-' + content.id" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                          <img :src="content.image360" />
                          <div class="mn-title">
                            <a href="">{{content.title}}</a>
                            <div class="dropdown">
                              <button class="btn text-light" type="button" :id="'dropdown-' + content.id"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i v-if="content.published" class="far fa-eye"></i>
                                <i v-if="!content.private && !content.published" class="fas fa-unlock-alt"></i>
                                <i v-if="content.private" class="fas fa-lock"></i>
                                <i v-if="content.disabled" class="far fa-eye-slash"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="dropdown-menu" :aria-labelledby="'dropdown-' + content.id">
                          <a v-if="!content.disabled" class="dropdown-item text-success"
                            :href="PAGES.WEBXR + `?id=${content.id}`">
                            <i class="far fa-eye"></i>
                            <span class="ml-1">{{lang.VIEW}}</span>
                          </a>
                          <button v-if="!content.disabled" v-on:click="getSharedLink(content)"
                            class="dropdown-item text-accent">
                            <i class="fas fa-link"></i>
                            <span class="ml-1">{{lang.GET_SHARED_LINK}}</span>
                          </button>
                          <a class="dropdown-item" :href="PAGES.EDIT + `?id=${content.id}`">
                            <i class="far fa-edit"></i>
                            <span class="ml-1">{{lang.EDIT_CONTENT}}</span>
                          </a>
                          <button class="dropdown-item" v-on:click="infoContent(content)">
                            <i class="fas fa-info-circle"></i>
                            <span class="ml-1">{{lang.INFO}}</span>
                          </button>
                          <button class="dropdown-item" v-on:click="deleteContent(content)">
                            <i class="far fa-trash-alt"></i>
                            <span class="ml-1">{{lang.DELETE}}</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row" v-if="contents.linkC.length > 0">
                    <h4>{{lang.ONLY_PEOPLE_WITH_LINK}}</h4>

                    <div class="col-xl-3 col-lg-4 col-md-6 p-1" v-for="content in contents.linkC">
                      <div class="card">
                        <div class="mn-img" :id="'dropdown-' + content.id" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                          <img :src="content.image360" />
                          <div class="mn-title">
                            <a href="">{{content.title}}</a>
                            <div class="dropdown">
                              <button class="btn text-light" type="button" :id="'dropdown-' + content.id"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i v-if="content.published" class="far fa-eye"></i>
                                <i v-if="!content.private && !content.published" class="fas fa-unlock-alt"></i>
                                <i v-if="content.private" class="fas fa-lock"></i>
                                <i v-if="content.disabled" class="far fa-eye-slash"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="dropdown-menu" :aria-labelledby="'dropdown-' + content.id">
                          <a v-if="!content.disabled" class="dropdown-item text-success"
                            :href="PAGES.WEBXR + `?id=${content.id}`">
                            <i class="far fa-eye"></i>
                            <span class="ml-1">{{lang.VIEW}}</span>
                          </a>
                          <button v-if="!content.disabled" v-on:click="getSharedLink(content)"
                            class="dropdown-item text-accent">
                            <i class="fas fa-link"></i>
                            <span class="ml-1">{{lang.GET_SHARED_LINK}}</span>
                          </button>
                          <a class="dropdown-item" :href="PAGES.EDIT + `?id=${content.id}`">
                            <i class="far fa-edit"></i>
                            <span class="ml-1">{{lang.EDIT_CONTENT}}</span>
                          </a>
                          <button class="dropdown-item" v-on:click="infoContent(content)">
                            <i class="fas fa-info-circle"></i>
                            <span class="ml-1">{{lang.INFO}}</span>
                          </button>
                          <button class="dropdown-item" v-on:click="deleteContent(content)">
                            <i class="far fa-trash-alt"></i>
                            <span class="ml-1">{{lang.DELETE}}</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row" v-if="contents.privateC.length >= 1">
                    <h4>{{lang.PRIVATE}}</h4>

                    <div class="col-xl-3 col-lg-4 col-md-6 p-1" v-for="content in contents.privateC">
                      <div class="card">
                        <div class="mn-img" :id="'dropdown-' + content.id" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                          <img :src="content.image360" />
                          <div class="mn-title">
                            <a href="">{{content.title}}</a>
                            <div class="dropdown">
                              <button class="btn text-light" type="button" :id="'dropdown-' + content.id"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i v-if="content.published" class="far fa-eye"></i>
                                <i v-if="!content.private && !content.published" class="fas fa-unlock-alt"></i>
                                <i v-if="content.private" class="fas fa-lock"></i>
                                <i v-if="content.disabled" class="far fa-eye-slash"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="dropdown-menu" :aria-labelledby="'dropdown-' + content.id">
                          <a v-if="!content.disabled" class="dropdown-item text-success"
                            :href="PAGES.WEBXR + `?id=${content.id}`">
                            <i class="far fa-eye"></i>
                            <span class="ml-1">{{lang.VIEW}}</span>
                          </a>
                          <button v-if="!content.disabled" v-on:click="getSharedLink(content)"
                            class="dropdown-item text-accent">
                            <i class="fas fa-link"></i>
                            <span class="ml-1">{{lang.GET_SHARED_LINK}}</span>
                          </button>
                          <a class="dropdown-item" :href="PAGES.EDIT + `?id=${content.id}`">
                            <i class="far fa-edit"></i>
                            <span class="ml-1">{{lang.EDIT_CONTENT}}</span>
                          </a>
                          <button class="dropdown-item" v-on:click="infoContent(content)">
                            <i class="fas fa-info-circle"></i>
                            <span class="ml-1">{{lang.INFO}}</span>
                          </button>
                          <button class="dropdown-item" v-on:click="deleteContent(content)">
                            <i class="far fa-trash-alt"></i>
                            <span class="ml-1">{{lang.DELETE}}</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <h4>{{lang.WAIT_FOR_RE_SUBSCRIPTION}}</h4>

                    <!-- </div><form action="checkout.php" method="POST">
                      <input type="submit" id="checkout-button" value="Pay with internet banking">
                    </form>
                    <form action="checkout.php" method="POST">
                      <input type="submit" id="checkout-button-alt" value="Pay with credit card">
                    </form> -->



                    <div class="col-xl-3 col-lg-4 col-md-6 p-1" v-for="content in contents.disabledC">
                      <div class="card">
                        <div class="mn-img" :id="'dropdown-' + content.id" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                          <img :src="content.image360" />
                          <div class="mn-title">
                            <a href="">{{content.title}}</a>
                            <div class="dropdown">
                              <button class="btn text-light" type="button" :id="'dropdown-' + content.id"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i v-if="content.published" class="far fa-eye"></i>
                                <i v-if="!content.private && !content.published" class="fas fa-unlock-alt"></i>
                                <i v-if="content.private" class="fas fa-lock"></i>
                                <i v-if="content.disabled" class="far fa-eye-slash"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="dropdown-menu" :aria-labelledby="'dropdown-' + content.id">
                          <a v-if="!content.disabled" class="dropdown-item text-success"
                            :href="PAGES.WEBXR + `?id=${content.id}`">
                            <i class="far fa-eye"></i>
                            <span class="ml-1">{{lang.VIEW}}</span>
                          </a>
                          <button v-if="!content.disabled" v-on:click="getSharedLink(content)"
                            class="dropdown-item text-accent">
                            <i class="fas fa-link"></i>
                            <span class="ml-1">{{lang.GET_SHARED_LINK}}</span>
                          </button>
                          <a class="dropdown-item" :href="PAGES.EDIT + `?id=${content.id}`">
                            <i class="far fa-edit"></i>
                            <span class="ml-1">{{lang.EDIT_CONTENT}}</span>
                          </a>
                          <button class="dropdown-item" v-on:click="infoContent(content)">
                            <i class="fas fa-info-circle"></i>
                            <span class="ml-1">{{lang.INFO}}</span>
                          </button>
                          <button class="dropdown-item" v-on:click="deleteContent(content)">
                            <i class="far fa-trash-alt"></i>
                            <span class="ml-1">{{lang.DELETE}}</span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <a :href="PAGES.CART + `?id=${auth.uid}`" type="button" class="btn btn-primary btn-lg btn-block">Buy
                      subscription</a>
                  </div>
                </div>
              </div>
            </div>
            <div id="list-item-2" class="list-item col" data-bs-target=".my-add">
              <h4>{{lang.MY_ADDRESSES}}</h4>
              <div v-if="!userInfoFilled" class="alert alert-warning" role="alert">
                Please fill up your address information.
              </div>
              <ul class="list-group mt-2" v-if="userinfo">
                <li class="list-group-item">
                  <h5><i class="far fa-address-book mr-2"></i> {{`${userinfo.fname} ${userinfo.lname}`}}</h5>
                  <p>
                    {{`${userinfo.address} (${userinfo.address2}), ${userinfo.town}, ${userinfo.province},
                    ${country.getByCode(userinfo.country).name}.`}}
                  </p>
                  <p>
                    <label class="mr-2"><i class="fas fa-mail-bulk"></i> {{userinfo.postal_code}}</label>
                    <label class="mr-2"><i class="fas fa-phone-alt"></i> {{userinfo.phone}}</label>
                  </p>
                  <p class="text-right">
                    <button class="btn btn-primary" v-on:click="editAddress">
                      <i class="far fa-edit"></i>
                      {{lang.EDIT}}
                    </button>
                  </p>
                </li>
              </ul>
            </div>
            <div id="list-item-3" class="list-item col" data-bs-target=".my-pay">
              <h4>{{lang.MY_ORDERS}}</h4>
              <p>
              <ul class="list-group list-group-numbered">
                <li v-for="ord in orders" class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">
                      <a :href="PAGES.ORDER_DETAILS + '?id=' + ord.id">OID: {{ord.id}}</a>
                    </div>
                    {{new Date(ord.startDate).toLocaleString()}}
                  </div>
                  <span v-if="ord.method == 'credit/debit'" class="badge bg-primary rounded-pill">Credit/Debit</span>
                  <span v-if="ord.method == 'paypal'" class="badge bg-primary rounded-pill">Paypal</span>
                  <span v-else class="badge bg-secondary rounded-pill">Others</span>
                </li>
              </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div v-else class="row px-4 bg-primary">
        <div class="jumbotron mx-auto my-4 w-75">
          <h3>Looks like you haven't logged in yet!!!</h3>
          <p class="text-secondary">If you haven't had an account, click "Register". If you have it, click "Log In".</p>
          <hr class="my-4">
          <div class="text-center">
            <a :href="PAGES.REGISTER" class="btn btn-primary">
              Register
            </a>
            <a :href="PAGES.LOGIN" class="btn btn-outline-primary">
              Log In
            </a>
          </div>
        </div>
      </div>
    </div>

    <div id="footer-layout"></div>
  </div>

  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <!--//REQUIRED SCRIPTS-->
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>
  <!-- TODO: Add SDKs for Firebase products that you want to use
   https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-analytics.js"></script>
  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-storage.js"></script>
  <!--REQUIRED SCRIPTS//-->

  <script src="vendor/fontawesome.js"></script>
  <script src="vendor/vue.js"></script>
  <script src="vendor/vue-router.js"></script>
  <script src="vendor/firebase-config.js"></script>
  <script src="vendor/apis.js"></script>
  <script src="vendor/langs.js"></script>
  <script src="vendor/country.js"></script>
  <script src="vendor/layout.js"></script>



  <!-- Template Javascript -->
  <script src="js/myprofile.js"></script>
</body>

</html>